<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
</head>
<body>
<section layout:fragment="main" class="container">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Item <small>Form</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <form method="post" th:action="@{/item/form}" th:object="${item}" >
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" th:field="*{name}" required="required" placeholder="Name">
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" name="desc"  class="form-control" th:field="*{description}" required="required" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label>Age From</label>
                        <input type="number" name="age_min"  class="form-control" th:field="*{ageMin}" required="required" placeholder="Age From">
                    </div>
                    <div class="form-group">
                        <label>Age TO</label>
                        <input type="number" name="age_max"  class="form-control" th:field="*{ageMax}" required="required" placeholder="Age From">
                    </div>
                    <div class="form-group">
                        <label>Material</label>
                        <input type="text" name="material"  class="form-control" th:field="*{material}" required="required" placeholder="Material">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select style="width: 100%!important;" class="form-control js-example-placeholder-single"  id="multi_category"
                                name="multi_category"
                                multiple="multiple"
                                th:field="*{categoryIds}">

                            <option th:each="category,row : ${categories}"
                                    th:value="${category.categoryName}"
                                    th:text="${category.categoryName}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Status</label><br>
                        <label>
                            <input name="status"  type="checkbox" value="AKTIF" class="js-switch" />
                        </label >
                    </div>
                    <input class="btn btn-primary" type="submit" value="Save">
                    <a th:href="@{/item/list}" class="btn btn-primary" role="button">
                        <span aria-hidden="true"></span>Cancel
                    </a>
                </form>

            </div>
        </div>
    </div>
</section>
</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });
</script>



