<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <th:block layout:fragment="script">
        <script th:inline="javascript">

            $(document).ready( function () {

                console.log("Hai ini di print");

                var ajaxSource = "/item/list-data";

                var fieldNames = [
                    "item_name",
                    "category_name"
                ];

                var addFilter = function(originalArray) {
                    if (!originalArray) {
                        originalArray = [];
                    }
                    fieldNames.forEach(function(fieldName) {

                        var fieldElement = $("#" + fieldName);
                        var value = fieldElement.val();
                        if (value === undefined) {
                            console.log(fieldName);
                            return;
                        }

                        originalArray.push({
                            name: fieldName,
                            value: value
                        });
                    });
                    return originalArray;
                };

                var dataTable = $('#data_table_item').DataTable( {
                    "ajax": ajaxSource,
                    "aoColumns": [
                        {
                            sName: "check",
                            bSortable: false

                        },
                        { sName: "name", mDataProp: "name"},
                        { sName: "categoryName", mDataProp: "categories[,].categoryName"},

                        { sName: "action",
                            mDataProp: "name",
                            sDefaultContent : "-",
                            bSortable: false,
                            mRender: function(name){
                                return '<button type="button" class="btn btn-warning waves-effect waves-light m-b-5 btn-sm m-r-5 loan-id" data-id="'+name+'" onclick="">Detail</button>'
                            }
                        },
                        { sName: "action",
                            mDataProp: "name",
                            sDefaultContent : "-",
                            bSortable: false,
                            mRender: function(name){
                                return '<button type="button" class="btn btn-warning waves-effect waves-light m-b-5 btn-sm m-r-5 loan-id" data-id="'+name+'" onclick="">Detail</button>'
                            }
                        }
                    ],
                    "fnServerData": function(sSource, aoData, fnCallback) {

                        console.log("Hai ini di print fnServerData");

                        aoData = addFilter(aoData);

                        jQuery.ajax({
                            dataType: "json",
                            type: "GET",
                            url: ajaxSource,
                            data: aoData,
                            success: function(result) {
                                if (result.total == 0) {
                                    result.data = [];
                                }

                                fnCallback({
                                    data: result.data,
                                    iTotalDisplayRecords: result.total
                                });


                            }
                        });
                    }
                } );


            });

        </script>
    </th:block>
</head>
<body>
<section layout:fragment="main" class="container">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Items <small>List</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="table-responsive">
                    <table id="data_table_item" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">#</th>
                                <th class="column-title">Nama Item</th>
                                <th class="column-title">Kategori</th>
                                <th class="column-title">Action</th>
                                <th class="column-title">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td colspan="5" class="dataTables_empty" style="text-align: center">No Data Available</td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <th class="column-title">#</th>
                                <th class="column-title">Nama Item</th>
                                <th class="column-title">Kategori</th>
                                <th class="column-title">Action</th>
                                <th class="column-title">Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>
    </div>
    </div>

</section>
</body>
</html>