<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<section >
    <div class="row tile_count">
<!--        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
<!--            <span class="count_top"><i class="fa fa-user"></i> Total Employee</span>-->
<!--            <div class="count " th:text="${JmlKar}">7,325</div>-->
<!--            <span class="count_bottom"></span>-->
<!--        </div>-->
<!--        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
<!--            <span class="count_top"><i class="fa fa-user"></i> Total Lectures Active</span>-->
<!--            <div class="count " th:text="${jmlDosen}">123</div>-->
<!--            <span class="count_bottom"> </span>-->
<!--        </div>-->



    </div>
    <!-- /top tiles -->
</section>

</body>
</html>