<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Log In</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="#" th:href="@{/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" href="#" th:href="@{/css/skins/_all-skins.min.css}"/>
    <link rel="icon" href="#" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <script src="js/functions_cryptography.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var Crypt = new Crypt();  // constructor
        function validate() {
            //document.f.password.value = Crypt.HASH.sha256(document.f.username.value+document.f.plain_password.value);
            document.f.password.value = document.f.plain_password.value;
            document.f.plain_password.value = "5cr3t";

        }
        /*]]>*/
    </script>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo"></div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form name="f" action="#" th:action="@{/login}" method="post">
            <div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>
            <div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <input type="hidden" name="password"/>
            <div class="form-group has-feedback">
                <input type="text" name="plain_password" class="form-control" placeholder="No KTP"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" name="username" class="form-control" placeholder="Email"/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group form-check">
                <input name="remember-me" type="checkbox" class="form-check-input" id="remember">
                <label class="form-check-label" for="remember">Remember Me</label>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="return validate()">
                        Sign In
                    </button>
                </div>

                <div class="col-xs-8 text-right">
                    <a th:href="@{/register}" style="line-height:30px">Ristrasi</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>